* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
}

:root.light {
    --color-submit-background: #FFFFFF;
    --color-input-background: #D9D9D9;
    --color-text-primary: rgba(0, 0, 0, 0.71);
    --color-text-secondary: rgba(98, 63, 63, 0.71);
    --color-text-tertiary: rgba(0, 0, 0, 0.67);
    --color-text-quaternary: rgba(255, 255, 255, 0.856);
    --color-theme-background: rgba(255, 255, 255, 0.48);
    --color-message-bubble-background: #D9D9D9;
    --background-image: url(../images/background.svg);
    --image-theme-background: url(../images/icons/theme-switch.svg);
}

:root.dark {
    --color-submit-background: #FFFFFF;
    --color-input-background: #D9D9D9;
    --background: none;
    --color-text-quaternary: rgba(255, 255, 255, 0.856);
    --color-theme-background: rgba(255, 255, 255, 0.48);
    --image-theme-background: url(../images/icons/theme-switch2.svg);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #eecce0; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #332d2d; 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}


html {
    font-size: 62.5%; /* for 1rem=10px */
}

body {
    background-color: #343541;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    padding: 3rem 0;
}

header {
    width: 100%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    max-width: 115rem;
    height: 6.2rem;
    transition: height 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.sticky-header {
    position: sticky;
    top: 0;
}

main, footer {
    width: 92vw;
    max-width: 115rem;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

input {
    background-repeat: no-repeat;
    outline: none;
    font-size: 1.6rem;
    color: ;
}

input::placeholder {
    color: ;
}

input[type="submit"] {
    cursor: pointer;
}

ol, ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.icon-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.text-icon-button { /*bunun box-sizing: property'sini değiştirmeyi düşün*/
    display: flex; /*bu class'a dahil elementlerin görünürlüğünü değiştirmek için display: none; gibi çözümler kullanırsan bu property bozulacaktır.*/
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/*******************************************************************************************************/

h1 {
    display: none;
}

.theme-switch {
    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--color-theme-background);
    border-radius: 100%;
    background-image: var(--image-theme-background);
    background-size: 3.6rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/*******************************************************************************************************/

body {
    display: grid;
    place-content: center;
}

#language-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#language-screen #logo {
    width: clamp(25rem, 60vw, 30rem);
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
}

#language-screen p {
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-text-quaternary);
    padding: 0 2.5rem;
}

#language-screen #languages-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    column-gap: 5rem;
}

#language-screen button {
    width: 7.5rem;
    aspect-ratio: 1;
}

#language-screen button:nth-child(1) {
    background-image: url(../images/flags/1.svg);
}

#language-screen button:nth-child(2) {
    background-image: url(../images/flags/2.svg);
}

#language-screen button:nth-child(3) {
    background-image: url(../images/flags/3.svg);
}

#language-screen button:nth-child(4) {
    background-image: url(../images/flags/4.svg);
}

#language-screen button:nth-child(5) {
    background-image: url(../images/flags/5.svg);
}

#language-screen button:nth-child(6) {
    background-image: url(../images/flags/6.svg);
}

/*******************************************************************************************************/

#licence-key-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#licence-key-screen #logo {
    width: clamp(25rem, 60vw, 30rem);
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
}

#licence-key-screen form {
    width: clamp(30rem, 90vw, 66rem);
    position: relative;
}

#licence-key-screen input[type="text"] {
    width: 100%;
    height: 5rem;
    background-color: var(--color-input-background);
    border-radius: 2.5rem;
    padding-left: 3rem;
}

#licence-key-screen input[type="text"]::placeholder {
    color: var(--color-text-primary);
}

#licence-key-screen button {
    width: 10.8rem;
    height: 5rem;
    background-color: var(--color-submit-background);
    border-radius: 2.5rem;
    position: absolute;
    right: 0;
    font-size: 1.7rem;
    font-weight: 500;
}

/*******************************************************************************************************/

#api-key-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#api-key-screen #logo {
    width: clamp(25rem, 60vw, 30rem);
    height: auto;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
}

#api-key-screen form {
    width: clamp(30rem, 90vw, 66rem);
    position: relative;
}

#api-key-screen input[type="text"] {
    width: 100%;
    height: 5rem;
    background-color: var(--color-input-background);
    border-radius: 2.5rem;
    padding-left: 3rem;
}

#api-key-screen input[type="text"]::placeholder {
    color: var(--color-text-primary);
}

#api-key-screen button {
    width: 10.8rem;
    height: 5rem;
    background-color: var(--color-submit-background);
    border-radius: 2.5rem;
    position: absolute;
    right: 0;
    font-size: 1.7rem;
    font-weight: 500;
}

