@media screen and (width > 650px) {

    body {
        min-height: 100vh;
    }
    
    #language-screen #languages-container {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        row-gap: 2.5rem;
        column-gap: 5rem;
    }
}

